# PyTorch
torch>=0.4.1
# progress bars in model download and training scripts
tqdm
# Accessing files from S3 directly.
boto3
# Used for downloading models over HTTP
requests
# For OpenAI GPT
regex
# Scipy & sklearn for stats in run_classifier
scipy
sklearn
# Metrics or logging related
seqeval
mlflow==1.0.0
