# basics
setuptools
wheel
# PyTorch
# Temp. disabled the next line as it gets currently resolved to https://download.pytorch.org/whl/rocm3.8/torch-1.7.1%2Brocm3.8-cp38-cp38-linux_x86_64.whl
#--find-links=https://download.pytorch.org/whl/torch_stable.html
torch>1.5,<1.8
# progress bars in model download and training scripts
tqdm
# Accessing files from S3 directly.
boto3
# Used for downloading models over HTTP
requests
# Scipy & sklearn for stats in run_classifier
scipy>=1.3.2
sklearn
# Metrics or logging related
seqeval==0.0.12
mlflow==1.0.0
# huggingface repository
transformers==4.1.1
# accessing dictionary elements with dot notation
dotmap==1.3.0
# for inference-rest-apis
Werkzeug==0.16.1
flask
flask-restplus
flask-cors
dill # pickle extension for (de-)serialization
# optional for inference
#fasttext==0.9.1
# Inference with ONNX models. Install onnxruntime-gpu for Inference on GPUs
#onnxruntime
#onnxruntime_tools
psutil
sentencepiece
